@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

:root {
  --primary: #007bff; /* Example color */
  --primary-foreground: #ffffff; /* Example color */
  --muted: #f0f0f0; /* Example color */
  --circle-color-light: black;
  --circle-color-dark: white;
  --background: #ffffff;
}

.dark {
  --primary: #007bff; /* Dark background color */
  --primary-foreground: #ffffff; /* Light text color */
  --muted: #575757; /* Dark muted color */
  --background: #262626;
  background-color: #262626;
}

.bg-primary {
  background-color: var(--primary);
}
.dark .bg-primary {
  background-color: var(--muted); /* Change this to your desired dark theme color */
}

.text-primary-foreground {
  color: var(--primary-foreground);
}

.bg-muted {
  background-color: var(--muted);
}

a {
  color: var(--primary); /* Change this to your desired color */
  text-decoration: none; /* Optional: remove underline */
}

a:hover {
  color: "black"; /* Change this to your desired hover color */
}

.bg-primary-dark {
  background-color: #007bff; /* Replace with your desired dark primary color */
  color: #ffffff; /* Replace with your desired text color for dark theme */
}

.bg-muted-dark {
  background-color: #333333; /* Replace with your desired muted dark color */
  color: #cccccc; /* Replace with your desired text color for muted dark */
}

.white-text {
  color: #ffffff;
}

.message-container {
  overflow-y: auto;
  display: flex;
  flex-flow: column nowrap;
}

.message-container > :first-child {
  margin-top: auto !important;
  /* use !important to prevent breakage from child margin settings */
}

.fade-in {
  opacity: 1;
  transition: opacity 2s ease-in; /* Adjust duration and easing as needed */
}

.opacity-0 {
  opacity: 0;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
